@import '../bootstrap/css/bootstrap.css';
@import '../bootstrap/css/bootstrap-responsive.css';
@import 'bootstrap-customize.css';

#expression {
    height: 40px;
}
#service-url {
    height: 40px;
    width: 200px;
}
#calc-button {
}

.jumbotron.no-margin {
    margin: 0;
}

#calculator {
    text-align: center;
}

.operators, .numbers {
    margin: 0px;
}
#calculator .numbers .btn, #calculator .operators .btn {
    margin: 5px;
    padding: 10px;
    width: 30px;
    height: 30px;
}

#parse-result {
    font-size: 9pt;
    overflow: auto;
    width: 300px;
    height: 200px;
}

.syntaxtree{
    text-align: left;
}
